.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.columna_formulario {
  width: 100%;
  max-width: 450px;
}

.columna_datos {
  width: 100%;
  max-width: 500px;
}

.tarjeta_datos {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  min-height: 350px;
}

.header_datos {
  background-color: #003366;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

#listaColaboradores {
  padding: 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
  color: #333333;
  padding: 40px 20px;
  margin: 0;
}

header, main, #btnEnviar, footer{
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: #003366;
  color: #ffffff;
  padding: 15px 20px;
  border: 1px solid #002244;
  font-size: 18px;
  font-weight: bold;
}

main {
  background-color: #ffffff;
  padding: 20px 20px 5px 20px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
}

input[type="text"]{
  width: 100%;
  padding: 8px;
  border: 1px solid #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input[type="text"]:focus {
  border-color: #003366;
  background-color: #f7fbff;
  outline: none;
}

.error {
  color: #cc0000;
  font-size: 12px;
  margin: 3px 0 0 0;
  min-height: 15px;
}

#btnEnviar {
  display: block;
  width: 100%;
  background-color: #003366;
  color: #ffffff;
  border: 1px solid #002244;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -1px;
}

#btnEnviar:hover {
  background-color: #002244;
}

footer {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #666666;
}

  .tabla_sql {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .tabla_sql th, .tabla_sql td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
    font-size: 14px;
  }

  .zona_filtro {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .zona_filtro label {
    font-weight: bold;
    font-size: 14px;
  }

  #inputFiltro {
    flex-content: 1;
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    font-size: 14px;
    outline: none;
  }

  #inputFiltro:focus {
    border-color: #003366;
    background-color: #f7fbff;
  }